In [10]:
import pandas as pd

data = [["勇者", "桃", 1],
        ["動物", "犬", 1],
        ["動物", "猿", 1],
        ["動物", "雉", 1]]

df = pd.DataFrame(data)                 # データフレームの作成
df.columns = ["job", "name", "level"]   # カラム名をdataFrameにつける
df

  job name  level
0  勇者    桃      1
1  動物    犬      1
2  動物    猿      1
3  動物    雉      1

In [11]:
for  i, row in df.iterrows():
    # rowはpd.Seriesである
    # rowはdfのコピーであり実体ではないので更新反映できない
    print(row)

job      勇者
name      桃
level     1
Name: 0, dtype: object
job      動物
name      犬
level     1
Name: 1, dtype: object
job      動物
name      猿
level     1
Name: 2, dtype: object
job      動物
name      雉
level     1
Name: 3, dtype: object

In [12]:
for i, rows in df.iterrows():
    if rows['name'] == '桃':
        print(rows)

job      勇者
name      桃
level     1
Name: 0, dtype: object

In [13]:
for i, rows in df.iterrows():
    if rows['name'] == '桃':
        df.at[i, 'name'] = '桃太郎'
        #df.loc[i, 'name'] = '桃太郎'
df

  job name  level
0  勇者  桃太郎      1
1  動物    犬      1
2  動物    猿      1
3  動物    雉      1