In [2]:
import pandas as pd

data = {
    'a': [1, 2, 3, 4, 5],
    'b': [6, 7, 8, 9 ,10],
}

_df = pd.DataFrame(data)
_df

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [3]:
for idx, row in enumerate(_df.itertuples()):
    display(idx, row)

0

Pandas(Index=0, a=1, b=6)

1

Pandas(Index=1, a=2, b=7)

2

Pandas(Index=2, a=3, b=8)

3

Pandas(Index=3, a=4, b=9)

4

Pandas(Index=4, a=5, b=10)

In [10]:
for idx, row in enumerate(_df.itertuples(index=False)):
    display(idx, row)
    display(idx, row[1])

0

Pandas(a=1, b=6)

0

6

1

Pandas(a=2, b=7)

1

7

2

Pandas(a=3, b=8)

2

8

3

Pandas(a=4, b=9)

3

9

4

Pandas(a=5, b=10)

4

10

In [5]:
for idx, row in enumerate(_df.iterrows()):
    display(idx, row)

0

(0,
 a    1
 b    6
 Name: 0, dtype: int64)

1

(1,
 a    2
 b    7
 Name: 1, dtype: int64)

2

(2,
 a    3
 b    8
 Name: 2, dtype: int64)

3

(3,
 a    4
 b    9
 Name: 3, dtype: int64)

4

(4,
 a     5
 b    10
 Name: 4, dtype: int64)

In [11]:
for _, row in _df.iterrows():
    display(row)
    display(f'row.a = {row.a}')
    display(f'row.a = {row.b}')
    display(f"row.a = {row['a']}")
    display(f"row.b = {row['b']}")

a    1
b    6
Name: 0, dtype: int64

'row.a = 1'

'row.a = 6'

'row.a = 1'

'row.b = 6'

a    2
b    7
Name: 1, dtype: int64

'row.a = 2'

'row.a = 7'

'row.a = 2'

'row.b = 7'

a    3
b    8
Name: 2, dtype: int64

'row.a = 3'

'row.a = 8'

'row.a = 3'

'row.b = 8'

a    4
b    9
Name: 3, dtype: int64

'row.a = 4'

'row.a = 9'

'row.a = 4'

'row.b = 9'

a     5
b    10
Name: 4, dtype: int64

'row.a = 5'

'row.a = 10'

'row.a = 5'

'row.b = 10'

In [13]:
for _, row in enumerate(_df.itertuples(index=False)):
    display(row._asdict())

{'a': 1, 'b': 6}

{'a': 2, 'b': 7}

{'a': 3, 'b': 8}

{'a': 4, 'b': 9}

{'a': 5, 'b': 10}